
.comment-list-item:not(:last-child) {
  margin-bottom: 1.333rem;
}

.comment .comment-left {
  position: relative;
  width: 8px;
  cursor: pointer;
}
.comment-left>div {
  position: absolute;
  left: 0;
  border: solid 8px;
  border-color: transparent;
}
.comment-left .comment-left_show {
  top: 6px;
  border-top-color: #333;
}
.comment-left .comment-left_hidden {
  top: 2px;
  left: 6px;
  border-left-color: #333;
}

.comment .comment-main {
  margin-left: 18px;
}

.comment-main .meta-box {
  white-space: nowrap;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
}
.comment-main .meta-box_ellipsis {
  display: inline-block;
  margin-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  width: 3rem;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.comment-main .comment-content {
  margin: 8px auto;
}

.comment-main .comment-box {
  overflow: hidden;
  display: none;
}
.comment-main .comment-box_show {
  display: block;
}

.comment-reply>a {
  cursor: pointer;
  text-decoration: underline;
}

.sub-comment {
  margin-left: 1rem;
  margin-top: 10px;
}